body {
     font-family: 'Arial', sans-serif;
     background-color: #f4f4f9;
     color: #333;
     margin: 0;
     padding: 0;
}

.container {
     max-width: 700px;
     margin: 50px auto;
     padding: 20px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
}

h1 {
     text-align: center;
     color: #333;
     font-size: 24px;
     margin-bottom: 20px;
}

.form-group {
     margin-bottom: 20px;
}

label {
     display: block;
     font-size: 16px;
     margin-bottom: 8px;
     color: #555;
}

textarea,
input[type="text"],
input[type="number"],
select,
input[type="file"] {
     width: 100%;
     padding: 10px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-bottom: 10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
     border-color: #41A5F9;
     outline: none;
}

button {
     width: 100%;
     padding: 12px;
     background-color: #41A5F9;
     color: white;
     font-size: 16px;
     font-weight: bold;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}

button:hover {
     background-color: #3498db;
}

.button-group {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
     gap: 10px;
}

textarea[readonly] {
     background-color: #f1f1f1;
     cursor: not-allowed;
}

input[type="file"] {
     padding: 5px;
     border: none;
}

@media (max-width: 768px) {
     .container {
          margin: 20px;
          padding: 15px;
     }
}

/* Ẩn toàn bộ form-group mặc định */
#caesarKeyGroup,
#substitutionKeyGroup,
#affineKeyGroup,
#vigenereKeyGroup,
#desKeyGroup,
#rsaKeyGroup {
     display: none;
}